ui-modal(
	id="preview-document-modal"
	ng-keyup="$event.keyCode === 13 && uiDocumentPreviewModal.close()")
	ui-modal-header(
		title="Preview link"
		icon="link")

	ui-modal-body
		ui-document-preview(
			reference="uiDocumentPreviewModal.reference"
			target-spec="uiDocumentPreviewModal.targetSpec")

	ui-modal-footer
		ui-button-bar
			ui-button-bar-region
				ui-button(
					type="primary"
					label="Close"
					click="uiDocumentPreviewModal.close()")
